<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TalkHub</title>
    {% include "main/base.html" %}
</head>
<body class="bg-light">
<div class="row justify-content-center">
    <div class="col-lg-6 col">
        <main class="mt-5 pt-5">
            <div class="container">
                <section class="card wow fadeIn" style="
                background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);">
                    <div class="card-body text-white text-center py-5 px-5 my-5">
                        <h1 class="mb-4">TalkHub</h1>

                        <p>You are welcome</p> 

                        <a class="btn btn-outline-light btn-lg" href="{% url 'main_page' %}">Join us!</a>
                    </div>
                </section>
            </div>
        </main>
        <div class="card wow fadeIn mt-4">
            <div class="card-body text-center py-5 px-5 my-5">
                <h1 class="mb-4"> Почему мы? <h1>
                <p> Because we can do it </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>