<nav class="navbar navbar-expand-lg navbar-dark bg-grayMouse" style="margin-bottom: 2vh;" id="navigation">
  <a class="navbar-brand" href="{% url 'main_page' %}"><big>TalkHub</big></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {% if request.user.id != None %}
        <a class="nav-link" href="{% url 'profile' id=request.user.id %}">Profile <span class="sr-only">(current)</span></a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if request.user.profile.image %}
        <img src="{{ request.user.profile.image.url }}" class="navbar-img" alt="" style="width: 30px; height: 30px; background-size: auto; margin: 5px;">
        {% endif %}
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu dropdown-menu-right">

            {% if request.user.is_authenticated %}

              <a class="dropdown-item" href={% url 'blogapp:post_create' %}>Create</a>
              <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color: firebrick;" href="{% url 'user_logout' %}">Logout</a>
            {% else %}
                <a class="dropdown-item" style="color: green;" href="{% url 'user_login' %}">Login</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" style="color: firebrick;" href="{% url 'register' %}">Sign Up</a>

            {% endif %}
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"><small>© TalkHub</small></a>
      </li>
    </ul>
    <ul class="pagination navbar-nav mr-auto">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo;</a>
                </li>
            {% endif %}

            {% for p in page_range %}
                {% if posts.number == p %}
                    <li class="page-item active">
                        <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if posts.has_next %}
                <li class="page-item">
                    <a href="?page={{ posts.next_page_number }}" class="page-link">&raquo;</a>
                </li>
            {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'main_page' %}">
            <input maxlength="25" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-light my-2 my-sm-0" type="submit" id="searchbtn">Search</button>
    </form>
  </div>
</nav>