<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create post</title>
    {% include "main/base.html" %}
</head>
<body>
    <div class="row bg-light border px-4 justify-content-end mr-0">
    
        <form class="tag-search-form my-2 col-lg-4 col-12 d-inline-flex" action="{% url 'blogapp:post_create' %}">
            <input maxlength="25" placeholder="Search tag" id="qtag" class="form-control mr-sm-2 mr-1 mt-2">
            <button class="btn btn-secondary mt-2" type="submit">Search</button>
        </form>

        <div class="w-100"></div>

        <form method="POST" class="row col">
            <div class="col-lg-8 col-12">
                {% csrf_token %}
                <div class="my-2">{{ postform.title }}</div>
                {{ postform.body | safe }}
                <div class="my-2">{{ postform.private }} Private</div>
                <input type="submit" value="Create" class="btn btn-outline-success my-2">
            </div>
            <div class="col-lg-4 tag-section col-12">
                {% include 'main/tag_section_create.html' %}
            </div>
        </form>
    </div>
</body>
</html>