<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    {% include 'main/base.html' %}
</head>
<body>
<div class="bg-lightSteel text-white text-center mx-lg-1 border rounded">
    <h4>Edit post</h4>
    <form method="POST" class="row justify-content-center">
        {% csrf_token %}
        <div class="col-lg-4 col-12">
            <div class=>{{ form.title }}</div>
            <div class="d-flex mt-2">{{ form.private }} <p class="ml-2">Private</p></div>
            <input type="submit" value="Update" class="btn btn-success w-100 mt-2 col">
        </div>
        <div class="col-lg-7 col-12">{{ form.body | safe }}</div>
    </form>
</div>
</body>
</html>
