@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
body{
    margin: 0;
    font-family: 'Roboto+Slab';
    background-color: #eee;
}
body a{
    text-decoration: none;
    color: black;
    transition: 1.5s;
}
body a:hover{
    text-decoration: none;
    color: black;
}
.alert-success{
    display: flex;
    justify-content: space-between;
}
.btn-cancel{
    width: 5vw;
    height: 5vw;
    background-image: url("https://cdn1.iconfinder.com/data/icons/basic-ui-elements-coloricon/21/19-512.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.overflow-hidden{ 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
.comments{ 
    border: 1px #d9d9d9 solid; 
    padding: 8px; 
    border-bottom: 1px solid #dfdfdf; 
    height: 100%; 
    overflow: hidden; 
} 
.message{ 
    display: flex; 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
    -ms-flex-flow: row wrap; 
    flex-flow: row wrap; 
} 
.message-sender{ 
    -webkit-box-ordinal-group: 3; 
    -ms-flex-order: 2; 
    order: 2; 
    text-align: right; 
    width: 50%; 
    font-weight: 600; 
    font-size: 12px; 
} 
.message-time{ 
    -webkit-box-ordinal-group: 2; 
    -ms-flex-order: 1; 
    order: 1; 
    text-align: left; 
    width: 50%; 
    opacity: 0.5; 
} 
.message-item{ 
    width: 100%; 
    -ms-flex-negative: 0; 
    flex-shrink: 0; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
    -ms-flex-flow: row nowrap; 
    flex-flow: row nowrap; 
    margin: 8px 0; 
    -webkit-box-ordinal-group: 4; 
    -ms-flex-order: 3; 
    order: 3; 
} 
.message-avatar{ 
    -webkit-box-ordinal-group: 3; 
    -ms-flex-order: 2; 
    order: 2; 
    overflow: hidden; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    -ms-flex-negative: 0; 
    flex-shrink: 0; 
    display: block; 
} 
.message-text{ 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border: 1px solid #e4e4e4; 
    margin-left: 8px; 
    -webkit-box-ordinal-group: 3; 
    -ms-flex-order: 2; 
    font-size: 14px; 
    line-height: 1.2; 
    padding: 5px 10px; 
    width: 100%; 
    background-color: #e4e4e4; 
    -webkit-box-ordinal-group: 2; 
    -ms-flex-order: 1; 
    order: 1; 
    margin-left: 0; 
    margin-right: 8px; 
} 
.min-vh-35{
    min-height: 35vh!important;
}
.profile-image{
    background-color: dimgrey;
    background-size: cover;
    background-repeat: no-repeat;
}
.border-radius-0{
    border-radius: 0!important;
}